@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

body {
  font-family: "Kumbh Sans", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  } /* Изменяем на -50% для плавной прокрутки */
}

.animate-marquee {
  animation: marquee 20s linear infinite; /* Увеличьте время, чтобы анимация была плавной */
}

.flex.animate-marquee {
  width: calc(200%); /* Увеличиваем ширину, чтобы вместить оба списка */
}

.button-container {
  position: relative; /* Позиционируем контейнер для кнопки */
}

.waves {
  position: absolute;
  top: 50%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  width: 100px; /* Ширина волн */
  height: 100px; /* Высота волн */
  border-radius: 50%; /* Закругляем края для круглой формы */
  background: rgba(255, 255, 255, 0.5); /* Цвет волн */
  transform: translate(-50%, -50%); /* Центрируем волну */
  opacity: 0; /* Начальная непрозрачность */
  pointer-events: none; /* Исключаем взаимодействие с волнами */
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0); /* Начинаем с нуля */
    opacity: 1; /* Полная непрозрачность в начале */
  }
  100% {
    transform: translate(-50%, -50%) scale(3); /* Увеличиваем до 3 раз */
    opacity: 0; /* Исчезаем к концу */
  }
}

.trigger-waves {
  animation: ripple 0.6s linear; /* Анимация волн */
}

.button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: #2cd10f; /* Цвет кнопки */
  color: white;
  padding: 30px;
  border-radius: 50%; /* Круглая форма кнопки */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  z-index: 50; /* Расположение поверх других элементов */
}

@keyframes wave-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

